In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df_train = pd.read_csv("train2024.csv")
features = list(df_train.columns)
features.sort()
display(df_train)
car_features = ['Price1','Price2','Price3','Price4', 'AF1','AF2','AF3','AF4','BU1','BU2','BU3','BU4','BZ1','BZ2','BZ3','BZ4','CC1','CC2','CC3','CC4', 'FA1','FA2','FA3','FA4','FC1','FC2','FC3','FC4','FP1','FP2','FP3','FP4','GN1','GN2','GN3','GN4','HU1','HU2','HU3','HU4','KA1','KA2','KA3','KA4','LB1','LB2','LB3','LB4','LD1','LD2','LD3','LD4','MA1','MA2','MA3','MA4','NS1','NS2','NS3','NS4','NV1','NV2','NV3','NV4','PP1','PP2','PP3','PP4','RP1','RP2','RP3','RP4','SC1','SC2','SC3','SC4','TS1','TS2','TS3','TS4']
unique_attributes = ["AF", "BU", "BZ", "CC", "FA", "FC", "FP", "GN", "HU", "KA", "LB", "LD", "MA", "NS", "NV", "PP", "RP", "SC", "TS"]
respondent_features = ['Urb','Urbind','age','agea','ageind','educ','educind','gender','genderind','income','incomea','incomeind','miles','milesa','milesind','night','nighta','nightind','ppark','pparkind','region','regionind','segment','segmentind','year','yearind']
choice_features = ["Ch1", "Ch2", "Ch3", "Ch4", "No"]

,Case,No,Task,CC1,GN1,NS1,BU1,FA1,LD1,BZ1,...,regionind,Urb,Urbind,income,incomeind,incomea,Ch1,Ch2,Ch3,Ch4
0,1,1,1,0,1,4,6,0,0,0,...,2,Suburban,2,"$40,000 to $49,999",3,44500,0,1,0,0
1,1,2,2,3,0,0,0,2,2,2,...,2,Suburban,2,"$40,000 to $49,999",3,44500,1,0,0,0
2,1,3,3,1,1,5,0,2,0,3,...,2,Suburban,2,"$40,000 to $49,999",3,44500,0,1,0,0
3,1,4,4,0,0,0,2,0,3,0,...,2,Suburban,2,"$40,000 to $49,999",3,44500,0,1,0,0
4,1,5,5,0,2,2,0,1,2,0,...,2,Suburban,2,"$40,000 to $49,999",3,44500,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21560,1135,21561,15,0,0,4,0,0,3,2,...,4,Suburban,2,"$60,000 to $69,999",5,65000,1,0,0,0
21561,1135,21562,16,0,0,2,0,0,1,0,...,4,Suburban,2,"$60,000 to $69,999",5,65000,0,0,1,0
21562,1135,21563,17,1,1,0,1,2,3,2,...,4,Suburban,2,"$60,000 to $69,999",5,65000,0,1,0,0
21563,1135,21564,18,3,2,4,0,2,0,2,...,4,Suburban,2,"$60,000 to $69,999",5,65000,1,0,0,0
21564,1135,21565,19,0,0,0,1,0,0,0,...,4,Suburban,2,"$60,000 to $69,999",5,65000,0,1,0,0

In [3]:
# # RANDOM PARAMETERS
# unique_attributes = ["AF", "BU", "BZ", "CC", "FA", "FC", "FP", "GN", "HU", "KA", "LB", "LD", "MA", "NS", "NV", "PP", "RP", "SC", "TS", "Price"]

# for attribute in unique_attributes: 
#     levels = df_train[attribute+"1"].unique()
#     levels.sort()
#     for level in levels: 
#         if level != 0: 
#             print(f"{attribute}{level}+")

In [6]:
respondent_features = ['Urbind', 'ageind', 'educind', 'genderind', 'incomeind', 'milesind', 'nightind', 'pparkind', 'regionind', 'segmentind', 'yearind']

for feature in respondent_features: 
    levels = df_train[feature].unique()
    levels.sort()
    for level in levels: 
        if level != 1: 
            print(f"{feature}.{level}+")

Urbind.2+
Urbind.3+
ageind.2+
ageind.3+
ageind.4+
ageind.5+
educind.2+
educind.3+
educind.4+
educind.5+
educind.6+
genderind.2+
incomeind.2+
incomeind.3+
incomeind.4+
incomeind.5+
incomeind.6+
incomeind.7+
incomeind.8+
incomeind.9+
incomeind.10+
incomeind.11+
incomeind.12+
incomeind.13+
incomeind.14+
incomeind.15+
incomeind.16+
incomeind.17+
incomeind.18+
incomeind.19+
incomeind.21+
incomeind.22+
incomeind.24+
incomeind.26+
incomeind.27+
incomeind.28+
milesind.2+
milesind.3+
milesind.4+
milesind.5+
milesind.6+
milesind.7+
milesind.8+
milesind.9+
nightind.2+
nightind.3+
nightind.4+
nightind.5+
nightind.6+
nightind.7+
nightind.8+
nightind.9+
nightind.10+
pparkind.2+
pparkind.3+
pparkind.4+
pparkind.5+
regionind.2+
regionind.3+
regionind.4+
regionind.5+
segmentind.2+
segmentind.3+
segmentind.4+
segmentind.5+
segmentind.6+
yearind.2+
yearind.3+
yearind.4+
yearind.5+
yearind.6+
yearind.7+